<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index Carrito</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Reservas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carrito : ${carritos}">
                        <td><span th:text="${carrito.reservas}"></span></td>
                        <td><span th:text="${carrito.id}"></span></td>
                        <td><a th:href="@{/carrito/{id}(id=${carrito.id})}">Ver</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br> <a class="btn btn-primary" style="background-color: #f16108" href="/carrito/new">Crear nuevo carrito</a>
        </div>
    </body>
</html>
