<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index Usuario</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Domicilio</th>
                        <th>Mail</th>
                        <th>Nacionalidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td><span th:text="${usuario.nombre}"></span></td>
                        <td><span th:text="${usuario.apellido}"></span></td>
                        <td><span th:text="${usuario.telefono}"></span></td>
                        <td><span th:text="${usuario.domicilio}"></span></td>
                        <td><span th:text="${usuario.nacionalidad}"></span></td>
                        <td><span th:text="${usuario.id}"></span></td>
                        <td><a th:href="@{/usuario/{id}(id=${usuario.id})}">Ver</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br> <a class="btn btn-primary" style="background-color: #EE7D00" href="/usuario/new">Crear
                nuevo usuario</a>
        </div>
    </body>
</html>
