<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Catálogo de Actividades</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>
        <div class="container">
        	<div class="row">
        		<div class="col-12 text-center mt-5 mb-3">
        			<h2>Actividades disponibles</h2>
        		</div>
        		<div th:each="act : ${actividades}" class="col-4 mt-3 mb-3">
	        		<div class="card" style="width: 18rem;">
	  					<img th:src="@{ ${act.imgPath} }" class="card-img-top" alt="...">
	  					<div class="card-body">
	    					<h5 class="card-title" th:text="${act.nombre}">Card title</h5>
	    					<p class="card-text" th:text="${act.destino.pais}"></p>
	    					<p class="card-text" th:text="${'PRECIO: $' + act.precio}"></p>
	    					<a th:href="@{/actividadUsuario/actividadReserva/{id}(id=${act.id})}" target="_blank" class="btn btn-primary">Reservar</a>
	  					</div>
					</div>
				</div>
        	</div>           
        </div>
    </body>
</html>









