<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>UNLa Travel</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body id="page-top" style="background-image: url('https://free4kwallpapers.com/uploads/originals/2018/12/29/inverted-blackwhite-mountains.-wallpaper_.jpg');">
	<!-- Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="/index">UNLa Travel</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav text-uppercase ml-auto">
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/actividad">Actividades</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/destino">Destinos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/vuelo">Vuelos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/hotel">Hoteles</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/paquete">Paquetes</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/carrito">Carrito</a></li>
					</ul>
				</div>
			</div>
		</nav>
        <div class="container">
        	<div class="row">
        		<div class="col-12 text-center" style="margin-top: 160px;color: white;">
        			<h2>Confirmar Reserva</h2>
        		</div>
        		<div class="col-4 mt-3 mb-3">
	        		<div class="card" style="width: 18rem;">
		  					<img th:src="@{ ${paquete.hotel.imgPath} }" class="card-img-top" alt="...">
		  					<div class="card-body" >
		  					
		    					<h5 class="card-title" th:text="${'DESTINO: ' + paquete.vuelo.destino.pais}">Card title</h5>
		    					<p class="card-text" th:text="'Sale desde: ' + ${paquete.vuelo.origen.nombre}"></p>	
		    					<div class="dropdown-divider"></div>

		    					<h5 class="card-title" th:text="${paquete.hotel.nombre}">Card title</h5>
		    					<p class="card-text" th:text="${paquete.hotel.tipoAlojamiento.tipo}"></p>
		    					<p class="card-text" th:text="${'ESTRELLAS: ' + paquete.hotel.cantEstrellas}"></p>
		    					<div class="dropdown-divider"></div>
		    					<p class="card-text"><small class="text-muted" th:text="'AEROLINEA: '+${paquete.vuelo.aerolinea.nombre}"></small></p>
		    					<p class="card-text"><small class="text-muted">Maximo 4 personas por habitacion.</small></p>
		    					<p class="card-text"><small class="text-muted">Los paquetes deben ser con ida y vuelta.</small></p>
		  					</div>
						</div>
				</div>
				<div class="col-8">
					<form action="#" th:action="@{/paqueteUsuario/create}"
		                  th:object="${paquete}" method="post">
						<h4>Complete el siguiente formulario:</h4>
	                  	<input type="hidden" th:field="${paquete.id}" id="id" name="id" />
	                  	<p>Desde: <input type="date"  th:field="*{hotel.fechaInicio}"></p>
						<p>Hasta: <input type="date"  th:field="*{hotel.fechaFin}"></p>
		                <p>Cantidad de Personas: <input type="text" th:field="*{hotel.cantPersonas}" /></p>
		                <br></br>
		                <h4>Datos del hotel:</h4>
		                <p>Tipo de Habitaciones: 
			                <select placeholder="TipoHabitacion" th:field="*{hotel.tipoHabitacion.id}"> 
								<option th:each="h : ${habitaciones}" th:value="${h.id}" th:text="${h.tipo}+' ('+${h.porcentajeAumento*100}+'% más)'"> </option>
							</select>
						</p>
						<p>Tipo de Regimen: 
			                <select placeholder="TipoRegimen" th:field="*{hotel.tipoRegimen.id}"> 
								<option th:each="r : ${regimenes}" th:value="${r.id}" th:text="${r.tipo}+' ('+${r.porcentajeAumento*100}+'% más)'"> </option>
							</select>
						</p>
						<p><input type="hidden"  th:field="*{hotel.tipoAlojamiento.tipo}"></p>
						<p><input type="hidden"  th:field="*{hotel.nombre}"></p>
						<p><input type="hidden"  th:field="*{hotel.cantEstrellas}"></p>
						<p><input type="hidden"  th:field="*{hotel.precio}"></p>
						<p><input type="hidden"  th:field="*{hotel.accesibilidad}"></p>
						<p><input type="hidden"  th:field="*{hotel.imgPath}"></p>
						<p><input type="hidden"  th:field="*{hotel.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.id}"></p>
						
						<p><input type="hidden"  th:field="*{vuelo.aerolinea.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.clase.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.origen.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.destino.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.escalaIncluida}"></p>
						<p><input type="hidden"  th:field="*{vuelo.precio}"></p>
						<p><input type="hidden"  th:field="*{vuelo.cantPersonas}"></p>
						
		                <input class="btn btn-primary" style="background-color: #EE7D00;" type="submit" value="Confirmar Reserva" />
		            </form>
				</div>
        	</div>           
        </div>
    </body>
</html>





