<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>UNLa Travel</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body id="page-top" style="background-image: url('https://free4kwallpapers.com/uploads/originals/2018/12/29/inverted-blackwhite-mountains.-wallpaper_.jpg');">
	<!-- Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">UNLa Travel</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav text-uppercase ml-auto">
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/actividad">Actividades</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/destino">Destinos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/vuelo">Vuelos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/hotel">Hoteles</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/paquete">Paquetes</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/carrito">Carrito</a></li>
					</ul>
				</div>
			</div>
		</nav>
        <div class="container">
        	<div class="row">
        		<div class="col-12 text-center" style="margin-top: 160px;color: white;">
        			<h2>Confirmar Reserva</h2>
        		</div>
        		<div class="col-4 mt-3 mb-3">
	       
				</div>
				<div class="col-8">
					<form action="#" th:action="@{/paqueteUsuario/createPersonalizado}"
		                  th:object="${paquete}" method="post">
						<h4>Complete el siguiente formulario:</h4>
						<br>
						<br>
						<h5>Datos del hotel:</h5>
	                  	<p>
                    		Hotel:
                    		<select th:field="*{hotel.id}">
                    			<option th:each="data : ${hoteles}" th:value="${data.id}" th:text="${data.nombre}" />
                    		</select>
                		</p>
	                  	<p>Desde: <input type="date"  th:field="*{hotel.fechaInicio}"></p>
						<p>Hasta: <input type="date"  th:field="*{hotel.fechaFin}"></p>
		                <p>Cantidad de Personas: <input type="number" th:field="*{hotel.cantPersonas}" value=1/></p>
		                <p>Tipo de Habitaciones:
			                <select placeholder="TipoHabitacion" th:field="*{hotel.tipoHabitacion.id}">
								<option th:each="h : ${habitaciones}" th:value="${h.id}" th:text="${h.tipo}+' ('+${h.porcentajeAumento*100}+'% más)'"> </option>
							</select>
						</p>
						<p>Tipo de Regimen:
			                <select placeholder="TipoRegimen" th:field="*{hotel.tipoRegimen.id}">
								<option th:each="r : ${regimenes}" th:value="${r.id}" th:text="${r.tipo}+' ('+${r.porcentajeAumento*100}+'% más)'"> </option>
							</select>
						</p>

						<br>
						<br>
						<h5>Datos del vuelo:</h5>

						<p>Origen:
							<select placeholder="Destino" th:field="*{vuelo.origen.id}">
								<option th:each="d : ${destinos}" th:value="${d.id}" th:text="${d.nombre}+' '+${d.pais}"> </option>
							</select>
						</p>
						<p>Destino:
							<select placeholder="Destino" th:field="*{vuelo.destino.id}">
								<option th:each="d2 : ${destinos}" th:value="${d2.id}" th:text="${d2.nombre}+' '+${d2.pais}"> </option>
							</select>
						</p>
						<p>Cantidad de personas: <input type="number" th:field="*{vuelo.cantPersonas}" min=1 value=1/></p>
		                <p>Aerolinea:
			                <select placeholder="Aerolinea" th:field="*{vuelo.aerolinea.id}">
								<option th:each="a : ${aerolineas}" th:value="${a.id}" th:text="${a.nombre}+' - Valoracion: '+ ${a.valoracion}"></option>
							</select>
						</p>
		                <p>Clase:
			                <select placeholder="Clase" th:field="*{vuelo.clase.id}">
								<option th:each="c : ${clases}" th:value="${c.id}" th:text="${c.nombre}+' ('+${c.porcentajeAumento*100}+'% más)'"></option>
							</select>
						</p>
						<p>Con escalas: <input type="checkbox"  th:field="*{vuelo.escalaIncluida}"></p>
						<h5>Actividades:</h5>
						<h7>El maximo de actividades a reservar es de 5.</h7><p/>
						<h7>El sistema solo reserva aquellas actividades con una fecha valida. En caso de no querer mas actividades, dejar la fecha intacta</h7><p/>
						<tr th:each="actividad,itStat : *{actividades}">
			                <p>Elija una actividad: 
			                    <select th:field="*{actividades[__${itStat.index}__].id}">
			                    	<option th:each="a : ${actividades1}" th:value="${a.id}" th:text="${a.nombre}"/>
			                    </select>
			                </p>
			                <p>Fecha:
								<input type="date" th:field="*{actividades[__${itStat.index}__].fecha}">
							</p>
							<br/>
						</tr>
						<p><input type="hidden"  th:field="*{hotel.tipoAlojamiento.tipo}"></p>
						<p><input type="hidden"  th:field="*{hotel.nombre}"></p>
						<p><input type="hidden"  th:field="*{hotel.cantEstrellas}"></p>
						<p><input type="hidden"  th:field="*{hotel.precio}"></p>
						<p><input type="hidden"  th:field="*{hotel.accesibilidad}"></p>
						<p><input type="hidden"  th:field="*{hotel.imgPath}"></p>
						<p><input type="hidden"  th:field="*{hotel.id}"></p>

						<p><input type="hidden"  th:field="*{vuelo.id}"></p>
						<p><input type="hidden"  th:field="*{vuelo.precio}"></p>
						<br>
						<br>
		                <input class="btn btn-primary" style="background-color: #EE7D00;" type="submit" value="Confirmar Reserva"/>
		            </form>
				</div>
        	</div>           
        </div>
    </body>
</html>





