<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar paquete</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/paquete/update}" th:object="${paquete}" method="post">
               <p>
                    Hotel: <select placeholder="Hotel" th:field="*{hotel.id}"> 
					<option th:each="h : ${hoteles}" th:value="${h.id}" th:text="${h.nombre}"> </option>
					</select>
               </p>
               
               <p>
                   Vuelo: <select placeholder="Vuelo" th:field="*{vuelo.id}"> 
					<option th:each="v : ${vuelos}" th:value="${v.id}" th:text="${v.Origen.nombre}+'-'+${v.Destino.nombre}" />
					</select>
               </p>
               <input type="hidden" th:field="*{id}" />
                <input class="btn btn-success" style="background-color: #f16108" type="submit" value="Editar"/>
            </form>
            <br>
            <br>
            <form action="#" th:action="@{/paquete/delete/{id}(id=${paquete.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Eliminar paquete" />
            </form>
        </div>
    </body>
</html>
