<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index Vuelo</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Fecha de Ida</th>
                        <th>Fecha de Vuelta</th>
                        <th>Cantidad de personas</th>
						<th>Precio</th>
                        <th>Aerolinea</th>
                        <th>Clase</th>
                        <th>Escala incluida</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vuelo : ${vuelos}">
                        <td><span th:text="${vuelo.fechaIda}"></span></td>
                        <td><span th:if="${vuelo.fechaVuelta}" th:text="${vuelo.fechaVuelta}"></span></td>
                        <td><span th:text="${vuelo.cantPersonas}"></span></td>
                        <td><p>$<span th:text="${vuelo.precio}"></span></p></td>
                        <td><span th:text="${vuelo.Aerolinea.nombre}"></span></td>
                        <td><span th:text="${vuelo.clase.nombre}"></span></td>
						<td><span th:text="${vuelo.escalaIncluida}"></span></td>
						<td><span th:text="${vuelo.Origen.nombre} +' - '+ ${vuelo.Origen.pais}"></span></td>
						<td><span th:text="${vuelo.Destino.nombre} +' - '+ ${vuelo.Destino.pais}"></span></td>
                        <td><a th:href="@{/vuelo/{id}(id=${vuelo.id})}">Ver</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br> <a class="btn btn-primary" style="background-color: #EE7D00" href="/vuelo/new">Crear
                nuevo vuelo</a>
        </div>
    </body>
</html>
