<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Vuelo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/vuelo/update}" th:object="${vuelo}" method="post">
                <p>Fecha de ida: <input type="date" th:field="*{fechaIda}" /></p>
                <p>Fecha de vuelta: <input type="date" th:field="*{fechaVuelta}" /></p>
				<p>Cantidad de personas: <input type="number" min="1" th:field="*{cantPersonas}" /></p>
                
                <p>Aerolinea: 
                <select placeholder="Aerolinea" th:field="*{aerolinea.id}"> 
						<option th:each="a : ${aerolineas}" th:value="${a.id}" th:text="${a.nombre}+' - Valoracion: '+ ${a.valoracion}"> </option>
				</select>
				</p>
                <p>Clase: 
                <select placeholder="Clase" th:field="*{clase.id}"> 
					<option th:each="c : ${clases}" th:value="${c.id}" th:text="${c.nombre}"> </option>
				</select>
				</p>
                <p>Escala incluida: <input type="checkbox" th:field="*{escalaIncluida}" /></p>
                <p>Origen:
				<select placeholder="Destino" th:field="*{origen.id}"> 
					<option th:each="d : ${destinos}" th:value="${d.id}" th:text="${d.nombre}"> </option>
				</select>
				</p>
				<p>Destino:
					<select placeholder="Destino" th:field="*{destino.id}"> 
						<option th:each="d : ${destinos}" th:value="${d.id}" th:text="${d.nombre}"> </option>
					</select>
				</p>
                <input type="hidden" th:field="*{id}" />

                <input class="btn btn-success" style="background-color: #EE7D00" type="submit" value="Editar"/>
            </form>
            <br>
            <br>
            <form action="#" th:action="@{/vuelo/delete/{id}(id=${vuelo.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Eliminar vuelo" />
            </form>
        </div>
    </body>
</html>
