<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>UNLa Travel</title>
		<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="/css/styles.css" rel="stylesheet" />
	</head>
	<body id="page-top" style="background-image: url('https://free4kwallpapers.com/uploads/originals/2018/12/29/inverted-blackwhite-mountains.-wallpaper_.jpg');">
	<!-- Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="/index">UNLa Travel</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav text-uppercase ml-auto">
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/actividad">Actividades</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/destino">Destinos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/vuelo">Vuelos</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/hotel">Hoteles</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/paquete">Paquetes</a></li>
						<li class="nav-item"><a class="nav-link js-scroll-trigger" href="/carrito">Carrito</a></li>
					</ul>
					<input class="form-control mr-sm-2" id="search" type="search" placeholder="Buscar" aria-label="Search">
            		<button class="btn btn-dark my-2 my-sm-0 " type="submit">Buscar</button>
				</div>
			</div>
		</nav>
        <div class="container">
        	<div class="row">
        		<div class="col-12 text-center mt-5 mb-3">
        			<h2>Hoteles disponibles</h2>
        			<div class="form-inline my-2 my-lg-0">
        			</div>
        		</div>
	        		<div th:each="hotel : ${hoteles}" class="col-4 mt-3 mb-3"> 
		        		<div class="card" style="width: 18rem;">
		  					<img th:src="@{ ${hotel.imgPath} }" class="card-img-top" alt="...">
		  					<div class="card-body" >
		    					<h5 class="card-title" th:text="${hotel.nombre}">Card title</h5>
		    					<p class="card-text" th:text="${hotel.tipoAlojamiento.tipo}"></p>
		    					<p class="card-text" th:text="${hotel.pais}"></p>
		    					<p class="card-text" th:text="${hotel.cantEstrellas == 1} ? '★ ☆ ☆ ☆ ☆':'' "></p>
		    					<p class="card-text" th:text="${hotel.cantEstrellas == 2} ? '★ ★ ☆ ☆ ☆':'' "></p>
		    					<p class="card-text" th:text="${hotel.cantEstrellas == 3} ? '★ ★ ★ ☆ ☆':'' "></p>
		    					<p class="card-text" th:text="${hotel.cantEstrellas == 4} ? '★ ★ ★ ★ ☆':'' "></p>
		    					<p class="card-text" th:text="${hotel.cantEstrellas == 5} ? '★ ★ ★ ★ ★':'' "></p>
		    					<p class="card-text" th:text="${'PRECIO POR NOCHE DESDE: $' + hotel.precio}"></p>
		    					<p>SERVICIOS: | <span class="card-text" th:each="s : ${servicios}" th:text=" ${s.tipo}+' | '"></span></p>
		    					<p class="card-text" th:if="${hotel.accesibilidad}" th:text="${'ACCESIBILIDAD PARA DISCAPACITADOS: Si'}"></p>
		    					<p class="card-text" th:if="${not hotel.accesibilidad}" th:text="${'ACCESIBILIDAD PARA DISCAPACITADOS: No'}"></p>
		    					<div class="dropdown-divider"></div>
		    					<p class="card-text"><small class="text-muted">Maximo 4 personas por habitacion.</small></p>
		    					<a th:href="@{/hotelUsuario/hotelReserva/{id}(id=${hotel.id})}" class="btn btn-primary">Reservar</a>
		  					</div>
						</div>
					</div>
	        	</div>           
	        </div>
    </body>
</html>
















