<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index Hotel</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio por noche</th>
                        <th>Cantidad de estrellas</th>
                        <th>Tipo de alojamiento</th>
                        <th>Accesibilidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="hotel : ${hoteles}">
                        <td><span th:text="${hotel.nombre}"></span></td>
                        <td><p>$<span th:text="${hotel.precio}"></span></p></td>
                        <td><span th:text="${hotel.cantEstrellas}"></span></td>
                        <td><span th:text="${hotel.tipoAlojamiento.tipo}"></span></td>
                        <td><span th:text="${hotel.accesibilidad}"></span></td>
                    </tr>
                </tbody>
                </table>                
                <br> <a class="btn btn-primary" style="background-color: #EE7D00" href="/hotel/new">Crear</a>
        </div>
        <div class="container">                
                <div class="row">
	                <div th:each="hotel : ${hoteles}" class="col-6 mt-4">
		                <div class="card mx-auto" style="width: 18rem;">
						  <img th:src="@{${hotel.imgPath} }" class="card-img-top" alt="...">
						  <div class="card-body">
						    <span th:text="${hotel.nombre}"></span><br/>
						    <span th:text="${hotel.cantEstrellas}"></span><br/>
						    <span th:text="${hotel.tipoAlojamiento.tipo}"></span><br/>
						    <p>$<span th:text="${hotel.precio}"></span></p>
						    <span th:if="${hotel.accesibilidad}" th:text="${'ACCESIBILIDAD: Si'}"></span>
						    <span th:if="${not hotel.accesibilidad}" th:text="${'ACCESIBILIDAD: No'}"></span><br/>
						    <br/>
						    <a class="btn btn-primary" style="background-color: #EE7D00" th:href="@{/hotel/{id}(id=${hotel.id})}">Modificar Hotel</a>
						  </div>
						</div>
	                </div>
                </div>
         </div>
    </body>
</html>
