<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nuevo Hotel</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>

        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/hotel/create}"
                  th:object="${hotel}" method="post">
                <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
                <p>Precio por noche: <input type="text" th:field="*{precio}" /></p>
                <p>Cantidad Estrellas: <input type="number" th:field="*{cantEstrellas}" min="1" max="5"/></p>
                <p>Servicio: <input type="text" th:field="*{tipoServicio}" /></p>
                <p>Tipo de Habitacion: <input type="text" th:field="*{tipoHabitaciones}" /></p>
                <p>Regimen: <input type="text" th:field="*{tipoRegimen}" /></p>
                <p>Accesibilidad: <input type="checkbox" th:field="*{accesibilidad}" /></p>
                <p>Cantidad de Personas: <input type="text" th:field="*{cantPersonas}" /></p>
                <input class="btn btn-primary" style="background-color: #EE7D00" type="submit" value="Crear" />
            </form>
        </div>
    </body>
</html>
