<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>UNLa Travel</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top" style="background-image: url('https://free4kwallpapers.com/uploads/originals/2018/12/29/inverted-blackwhite-mountains.-wallpaper_.jpg');">
    <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/index">UNLa Travel</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars ml-1"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/actividad">Actividades</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/destino">Destinos</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/vuelo">Vuelos</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/hotel">Hoteles</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/paquete">Paquetes</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/carrito">Carrito</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="divPrincipal">
            <form action="#" th:action="@{/hotel/create}"
                  th:object="${hotel}" method="post">
                <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
                <p>Pais: <input type="text" th:field="*{pais}" /></p>  
                <p>Precio por noche: <input type="text" th:field="*{precio}" /></p>
                <p>Cantidad Estrellas: <input type="number" th:field="*{cantEstrellas}" min="1" max="5"/></p>
                <p>Tipo de Alojamiento: 
	                <select placeholder="TipoAlojamiento" th:field="*{tipoAlojamiento.id}"> 
						<option th:each="ta : ${tipoAlojamientos}" th:value="${ta.id}" th:text="${ta.tipo}"> </option>
					</select>
				</p>
                <p>Accesibilidad para discapacitados: <input type="checkbox" th:field="*{accesibilidad}" /></p>
                <p>Elija la imagen para el hotel: <input type="file" name="imgPath" accept=".jpg,.png" multiple /></p>
                <input class="btn btn-primary" style="background-color: #EE7D00" type="submit" value="Crear" />
            </form>
        </div>
    </body>
</html>
