<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Hotel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/hotel/update}" th:object="${hotel}" method="post">
                <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
                <p>Precio: <input type="text" th:field="*{precio}" /></p>
                
                <p>Cantidad Estrellas: <input type="number" th:field="*{cantEstrellas}" min="1" max="5"/></p>
                
                <p>Tipo de Alojamiento: 
	                <select placeholder="TipoAlojamiento" th:field="*{tipoAlojamiento.id}"> 
						<option th:each="ta : ${tipoAlojamientos}" th:value="${ta.id}" th:text="${ta.tipo}"> </option>
					</select>
				</p>
                <p>Accesibilidad: <input type="checkbox" th:field="*{accesibilidad}" /></p>
                <input type="hidden" th:field="*{cantPersonas}" />
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{imgPath}" />
                <input class="btn btn-success" style="background-color: #EE7D00" type="submit" value="Editar"/>
            </form>
            <br>
            <br>
            <form action="#" th:action="@{/hotel/delete/{id}(id=${hotel.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Eliminar hotel" />
            </form>
        </div>
    </body>
</html>
