<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Actualizar Hotel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}"/>

    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <form action="#" th:action="@{/hotel/update}" th:object="${hotel}" method="post">
                <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
                <p>Cantidad Estrellas: <input type="text" th:field="*{cantEstrellas}" /></p>
                <p>Servicio: <input type="text" th:field="*{tipoServicio}" /></p>
                <p>Tipo de habitacion: <input type="text" th:field="*{tipoHabitaciones}" /></p>
                <p>Regimen: <input type="text" th:field="*{tipoRegimen}" /></p>
                <p>Accesibilidad: <input type="checkbox" th:field="*{accesibilidad}" /></p>
                <p>Cantidad de Personas: <input type="text" th:field="*{cantPersonas}" /></p>
                <p>ID: <input type="text" th:field="*{id}" /></p>

                <input class="btn btn-success" style="background-color: #f16108" type="submit" value="Editar"/>
            </form>
            <br>
            <br>
            <form action="#" th:action="@{/hotel/delete/{id}(id=${hotel.id})}" method="post">
                <input class="btn btn-danger" type="submit" value="Eliminar hotel" />
            </form>
        </div>
    </body>
</html>
