/*-------------------------Header-------------------------------*/

.headerbg{
    width: 100vw;
    height: 10vh;
    background-color: #f16108;
    line-height: 10vh;
}

.headerbg h3{
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 1vw;
}
/*-------------------------Background-------------------------------*/
body{
    background-color: #D0D3D2;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

/*-------------------------contenido-------------------------------*/


.divPrincipal{
    text-align:left;
    width: 50vw;
    margin-left:10%;
    margin-top:4%;
}

.divPrincipal form{
    background-color:white;
    width: auto;
    padding:15px;
    border: solid black 1px;
}

.divPrincipal table thead tr th{
    background-color:white;
    padding:10px;
}

.divPrincipal table tbody tr td{
    background-color:white;
    padding:10px;
}
