<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Index Destino</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div class="headerbg">

                <h3>Unla Travel</h3>

            </div>
        </header>

        <div class="divPrincipal">
            <table border="1px">
                <thead>
                    <tr>
                        <th>Destino</th>
                        <th>Pais</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="destino : ${destinos}">
                        <td><span th:text="${destino.nombre}"></span></td>
                        <td><span th:text="${destino.pais}"></span></td>
                        <td><span th:text="${destino.latitud}"></span></td>
                        <td><span th:text="${destino.longitud}"></span></td>
                        <td><a th:href="@{/destino/{id}(id=${destino.id})}">Ver</a>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br> <a class="btn btn-primary" style="background-color: #f16108" href="/destino/new">Crear nuevo destino</a>
        </div>
    </body>
</html>